.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
  .container-description {
    padding: 30px 30px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .footer .container {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

img {
  display: block;
}

input {
  font-family: inherit;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo-header {
  color: #000000;
}

.logo-accent {
  color: #2196f3;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .logo {
    font-size: 24px;
    line-height: 1.166;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.167;
    margin-bottom: 50px;
  }
}

.team-social-list {
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin: 0 auto;
}

.team-social-list_item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list_item-link svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-list_item-link:hover svg, .team-social-list_item-link:hover {
  fill: #ffffff;
  background: #2196f3;
}

.team-social-list_item:not(:last-child) {
  margin-right: 10px;
}

.social-footer {
  min-width: 200px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 210px;
  margin: 0 auto;
}

.social-list_item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list_item-link svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.social-list_item-link:hover {
  background: #2196f3;
}

@media screen and (max-width: 767px) {
  .social-footer {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social-footer {
    margin-right: 93px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 580px;
  width: 530px;
  background-color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  margin: 6px;
}

.close-btn-svg {
  position: absolute;
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-btn {
  align-self: center;
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-field-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal-form-input:focus, .modal-form-message:focus {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal-form-input {
  display: block;
  padding-left: 40px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form-message {
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-form-policy {
  margin-bottom: 30px;
}

.modal-form-svg-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal-form-input:focus + .modal-form-svg-icon {
  fill: #2196f3;
}

.modal-form-policy-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-image: url(../image/icon/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(30%, 20%);
}

.modal-form-policy:checked + .modal-form-policy-label::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../image/icon/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.modal-form-policy-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .address {
  margin-left: auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item {
  position: relative;
}

.navigation-list .navigation-list-link.current {
  color: #2196f3;
}

.navigation-list-link:hover, .navigation-list-link:focus {
  color: #2196f3;
}

.address-mail-link:hover, .address-mail-link:focus, .address-tel-link:hover, .address-tel-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .address-mail-link, .address-tel-link {
    padding-top: 21px;
    padding-bottom: 21px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .header .address-mail-item {
    margin-right: 50px;
  }
  .address {
    display: flex;
  }
  .address-mail-link, .address-tel-link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.142;
  }
}

.hero {
  background: #2f303a;
  background-image: url(../image/hero/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 116px;
  padding-bottom: 120px;
  text-align: center;
}

.hero-title {
  margin: 0 auto;
  max-width: 360px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.modal-btn,
.modal-form-btn {
  padding: 10px 20px;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: inherit;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: url(../image/hero/hero-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: url(../image/hero/hero-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url(../image/hero/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../image/hero/hero-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .hero-title {
    max-width: 620px;
    font-size: 44px;
    line-height: 1.363;
  }
  .overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/overlay.jpg);
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url(../image/hero/hero-desktop@2x.jpg);
  }
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages-title {
  padding-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantages-description {
  width: 450px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.advantages-list-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: content;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.icone-antenna-1::before {
  background-image: url(../image/advantages/antenna-1.svg);
}

.icone-clock-2::before {
  background-image: url(../image/advantages/clock-2.svg);
}

.icone-diagram-3::before {
  background-image: url(../image/advantages/diagram-3.svg);
}

.icone-astronaut-4::before {
  background-image: url(../image/advantages/astronaut-4.svg);
}

@media screen and (min-width: 320px) and (max-width) {
  .advantages-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages-title {
    text-align: left;
  }
  .advantages-description {
    width: 350px;
  }
  .advantages-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-list {
    flex-wrap: wrap;
  }
  .advantages-list-item {
    width: 350px;
  }
  .advantages-list-item:not(:nth-child(even)) {
    margin-right: 30px;
  }
  .advantages-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advantages-description {
    width: 270px;
  }
  .advantages-list {
    display: flex;
  }
  .advantages-list-item {
    width: 270px;
  }
  .advantages-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .about-us {
    display: none;
  }
}

.about-us {
  padding-bottom: 94px;
}

.about-us-list {
  display: flex;
}

.about-us-list-item {
  width: 370px;
  position: relative;
}

.about-us-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-us-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 75px;
}

.about-us-overlay-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

.team-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  width: 450px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    flex-wrap: wrap;
  }
  .team-list-item {
    width: 354px;
  }
  .team-list-item:not(:nth-child(even)) {
    margin-right: 30px;
  }
  .team-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list-item {
    width: 270px;
  }
  .team-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.client-list-item {
  width: 210px;
  height: 90px;
}

.client-list-item-link {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-item-link svg {
  width: 90px;
  height: 53px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-list-item-link:hover svg {
  fill: #2196f3;
}

.client-list-item-link:hover {
  border: 1px solid #2196f3;
}

@media screen and (max-width: 767px) {
  .client-list-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client-list-item {
    width: 226px;
    height: 90px;
  }
  .client-list-item:not(:nth-last-child(odd)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client-list-item {
    width: 170px;
    height: 90px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-contact {
  margin-bottom: 60px;
}

.footer-title {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.contact {
  font-style: normal;
}

.contact-location {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link.tel {
  display: block;
  margin-bottom: 0;
}

.contact-link {
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover, .contact-link:focus, .contact-location:hover, .contact-location:focus {
  color: #2196f3;
}

.subscription-form-input {
  width: 450px;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription-form-button {
  position: relative;
  padding-left: 28px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: inherit;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: start;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.subscription-form-button-svg {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-contact {
    margin-bottom: 60px;
  }
  .subscription {
    width: 450px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer-contact {
    text-align: center;
  }
  .footer-title {
    justify-content: center;
  }
  .subscription-form-button {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contact {
    margin-right: 165px;
  }
  .subscription {
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-contact {
    margin-left: 76px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contact {
    margin-right: 70px;
  }
  .subscription {
    min-width: 570px;
  }
  .subscription-form-input {
    width: 350px;
    margin-right: 12px;
  }
}
/*# sourceMappingURL=main.css.map */