.container {
  width: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;

    &-description {
      padding: 30px 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;

    .footer & {
      display: flex;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
