$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$logo-color: #000000;
$accent-color: #2196f3;
$secondary-color: #ffffff;
$title-color: #212121;
$description-color: #757575;
$background-secondary: #2f303a;
$bacground-team: #f5f4fa;
$contact-color: rgba(255, 255, 255, 0.6);
$font-weight-hero: 900;
$font-weight-main: 700;
$font-weight: 500;
$font-weight-secondary: 400;
$font-size-main: 14px;
$font-size-secondary: 16px;
$line-height-main: 1.142;
$line-height-secondary: 1.714;
